.product_image {
  width: 250px;
  height: 250px;
}

.cartimg {
  width: 60px;
  height: 60px;
}

.containerStyle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.total-price-container {
  position: fixed;
  bottom: 35px;
  left: 74%;
  width: auto;
  background-color: white; 
  padding: 20px;
  border: 3px solid #ccc;
  border-radius: 20px;
}

